recursive-include LICENSE
recursive-include jsonnet *.c
recursive-include jsonnet *.cpp
recursive-include jsonnet *.h
recursive-include jsonnet *.hpp
recursive-include jsonnet *.jsonnet
recursive-exclude jsonnet *test*
prune jsonnet/case_studies
prune jsonnet/cmd
prune jsonnet/test_cmd

